# Directories #
# The bin and obj directories contain compiled code, so ignore them
bin/
obj/

# User-specific files #
# .user files contain user preferences and are not typically shared
*.user
*.userosscache
*.suo

# Rider-specific directories #
# Rider IDE personal settings
.idea/

# Build Results #
*.sln.docstates
*.userprefs
*.pidb
*.suo
*.sdf
*.cache
*.vsp
*.vspscc

# ReSharper is a popular tool for Rider, ignore its cache directory
*_ReSharper.*/
*ReSharper*/
*.DotSettings.user

# TeamCity build agent system dirs
._TeamCity*

# DotCover is a code coverage tool that works with Rider
*.dotCover

# Visual Studio 2015/2017 cache/options directory
.vs/

# Output of the MSBuild script
**/[Oo]ut/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
autoTest.Net/

# BenchmarkDotNet Artifacts
BenchmarkDotNet.Artifacts/

# Visual Studio Code
.vscode/
